
h1{
  color: aliceblue;
  text-align: center;
}
h3{
  color: aliceblue;
  text-align: left;
  padding-left: 20pt;
}

body {
  background-image: url("./images/norris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


