.App {
  text-align: center;
}
h1{
  color: aliceblue;
  text-align: center;
}
h3{
  color: aliceblue;
  text-align: left;
  padding-left: 20pt;
}

body {
  background-image: url("./images/norris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.App-header {
  background-color: rgb(61, 47, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

