
h1{
  color: aliceblue;
  text-align: center;
}
h3{
  color: aliceblue;
  text-align: left;
  padding-left: 20pt;
}

body {
  background-image: url("./images/norris.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.container-fluid {
  display: block;
  max-width: 100%;
  height: auto;
  /* height: 30px; */
  position: relative;
}


